$primary--light: #c0f7b7;
$primary: #5ac994;
$primary--dark: #124143;
$primary--background: #141b29;

* {
  margin: 0;
  padding: 0;
}

#grid--container {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". . nav . ."
  ". . . . ."
  ". main main main ."
  ;
}

.navbar--container {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  background-color: yellowgreen;
  width: 100%;

    li {
      list-style-type: none;
        a {
          padding: .3rem;
        }
    }
}

.main--container {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". img ."
  "life life life"
  ;
}

.img--container {
  grid-area: img;
  background-color: red;
  width: 100%;
}

.text--box {
  grid-area: txt;
  background-color: aquamarine;
}

#lifeline--container {
  grid-area: life;
  position: relative;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:

  "event  ."
  ". event2 "
  "event3 ."
  ". event4 "
  "event5 . "
  ". event6 "
  "event7 . "
  ". event8 "
  ". filler"
  "txt txt"
  "codeHL codeHL"
  "html ."
  ". css"
  "js ."
  ". react"
  "php ."
  ". sql"
  "designHL designHL"
  "ps ."
  ". ind"
  "ai ."
  ". figma"
;
}

/********************/
/* start event area */
/********************/

.timeline {
  background-color: $primary--light;
  position: absolute;
  left: 50%;
  width: 2px;
  min-height: 100%;
  z-index: -1;

    &:before {
      content: "";
      position: absolute;
      top: -21px;
      left: -10px;
      height: 20px;
      width: 20px;
      border: 2px dashed $primary--light;
      border-radius: 50%;
    }
}

.filler {
  grid-area: filler;
  position: relative;
  color: transparent;
  height: 10px;
  width: 2px;
  background-color: $primary--light;
}

.event--container {
  margin: .5rem;
  border: 2px dashed palevioletred;
  border-radius: 5px;
  background-color: #f4f4f4;
  background-clip: content-box;
}

.event--box {
  padding: .5rem;
}

.event--container.one {
  grid-area: event;
}

.event--container.two{
  grid-area: event2;
}

.event--container.three{
  grid-area: event3;
}

.event--container.four{
  grid-area: event4;
}

.event--container.five{
  grid-area: event5;
}

.event--container.six{
  grid-area: event6;
}

.event--container.seven{
  grid-area: event7;
}

.event--container.eight{
  grid-area: event8;
}

/******************/
/* end event area */
/******************/

.fa-shuttle-space {
  color: #ee4848;
  position: absolute;
  top: -16px;
  left: calc(50% - 12px);
  transform: rotate(90deg);
}

/********************/
/* start skill area */
/********************/

.skill--box {
  margin: 1rem;
}

.code--headline {
  grid-area: codeHL;
}

.design--headline {
  grid-area: designHL;
}

.design--headline,
.code--headline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary--light;
}

#html,
#js,
#php,
#ps,
#ai {
  display: flex;
  justify-content: flex-end;
}

#css,
#react,
#sql,
#ind,
#figma {
  display: flex;
}

#html {
  grid-area: html;
}
#css {
  grid-area: css;
}
#js {
  grid-area: js;
}
#react {
  grid-area: react;
}
#php {
  grid-area: php;
}
#sql {
  grid-area: sql;
}
#ps {
  grid-area: ps;
}
#ind {
  grid-area: ind;
}
#ai {
  grid-area: ai;
}
#figma {
  grid-area: figma;
}


/******************/
/* end skill area */
/******************/
