/**********/
/* colors */
/**********/

$primary--light: #1CBCEE;
$primary--Light--trans: rgba(28,188,238,.3);
$primary: #1694BA;
$primary--light--background: #0E2F39;
$primary--background: #141b29;
$primary--dark--background: #04090F;

$font--light: #E2E2E2;
$font--headline: 'Open Sans Condensed', sans-serif;
$font--text: 'Rajdhani', sans-serif;


* {
  margin: 0;
  padding: 0;
  font-family: $font--text;
}

#grid--container {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". . nav . ."
  ". . . . ."
  ". main main main ."
  ;
}

.navbar--container {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0;
  width: 100%;

    li {
      list-style-type: none;

        a {
          color: $primary--light;
          font-family: $font--headline;
          padding: .3rem;
          text-decoration: none;
        }
    }
}

.main--container {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". img ."
  "life life life"
  "skill skill skill"
  "sample sample sample"
  ;
}

.img--container {
  grid-area: img;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.img--container img{
  width: 50%;
  border-radius: .3rem;
}

.img--outer--circle::before {
  content: '';
  border-left: 5px solid blue;
  border-right: 5px solid transparent;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.text--box {
  grid-area: txt;
  background-color: $primary;
  border: 2px solid $primary--light;
  border-radius: .3rem;
  display: flex;
  margin: 4rem ;
  padding: 1rem;
}

#lifeline--container {
  grid-area: life;
  position: relative;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: .3rem;
  grid-column-gap: 1rem;
  grid-template-areas:

  "event  ."
  ". event2 "
  "event3 ."
  ". event4 "
  "event5 . "
  ". event6 "
  "event7 . "
  ". event8 "
  "txt txt"

;
}

#skill--container {
  grid-area: skill;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "codeHL codeHL designHL designHL"
  "html css ps ind"
  "js react ai figma"
  "php sql . ."
  ;
}

/**********/
/* rocket */
/**********/

.fa-shuttle-space {
  color: #ee4848;
  position: absolute;
  top: -16px;
  left: calc(50% - 8px);
  transform: rotate(90deg);
  z-index: -1;

  /*&::before {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -2;
    width: 25px;
    height: 25px;
    background-color: yellow;

  }*/
}

.timeline {
  background-color: $primary--light;
  position: absolute;
  left: 50%;
  width: 2px;
  min-height: 100%;
  z-index: -10;

  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: -11px;
    height: 20px;
    width: 20px;
    border: 2px dashed $primary--light;
    border-radius: 50%;
  }
}

/**************/
/* event area */
/**************/

.event--container#one {
  grid-area: event;
}

.event--container#two{
  grid-area: event2;
}

.event--container#three{
  grid-area: event3;
}

.event--container#four{
  grid-area: event4;
}

.event--container#five{
  grid-area: event5;
}

.event--container#six{
  grid-area: event6;
}

.event--container#seven{
  grid-area: event7;
}

.event--container#eight{
  grid-area: event8;
}

/**************/
/* skill area */
/**************/

.skill--box {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.code--headline {
  grid-area: codeHL;
}

.design--headline {
  grid-area: designHL;
}

.design--headline,
.code--headline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font--light;
  font-size: 2rem;
}

#html {
  grid-area: html;
}
#css {
  grid-area: css;
}
#js {
  grid-area: js;
}
#react {
  grid-area: react;
}
#php {
  grid-area: php;
}
#sql {
  grid-area: sql;
}
#ps {
  grid-area: ps;
}
#ind {
  grid-area: ind;
}
#ai {
  grid-area: ai;
}
#figma {
  grid-area: figma;
}

/*************/
/* work area */
/*************/

#sample--container {
  grid-area: sample;
}

