/**********/
/* colors */
/**********/


$primary--light: #1CBCEE;
$primary--Light--trans: rgba(28,188,238,.3);
$primary: #1694BA;
$primary--light--background: #0E2F39;
$primary--background: #141b29;
$primary--dark--background: #04090F;

$font--light: #E2E2E2;
$font--headline: 'Open Sans Condensed', sans-serif;
$font--text: 'Rajdhani', sans-serif;


#sample--container{
    display:flex;
    flex-wrap: wrap;
    h2 {
        margin: .3rem;
    font-family: $font--headline;
    color: $font--light;
    }

}

.work--sample {
    margin: 1rem;
}

/****************/
/* Image Slider */
/****************/

#image--active img {
    width: 50vw;
}

#imgBlock {
    display: none;
}

#image--frame {
    display: flex;
    position: relative;
}

#image--btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #left {
        color: #fff;
        position: absolute;
        left: 0;
    }

    #right {
        color: #fff;
        position: absolute;
        right: 0;
    }
}